* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.busines-woman {
  background-color: black;
  text-align: center;
  width: 100%;
}

.busines-woman h1 {
  font-size: 520%;
  margin: auto;
  background: url('./imgs/diverse-women.jpeg');
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.busines-woman h2 {
  color: white !important;
  font-size: 4vh;
  margin: auto;
}

.busines-woman span {
  font-weight: 900;
  width: 100%;
}

.black-call {
  color: black !important;
  font-weight: 800;
}

body {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.click-buy {
  height: 70%;
}

.click-buy .click-buy-button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background-color:#ffec64;
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  border: none !important;
  border-radius: 15px;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  color: white;
  font-size: 25px;
  font-style:normal;
  font-weight: 800;
  height:70px;
  line-height:25px;
  padding-left: 15px;
  padding-right: 15px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  text-indent: 0;
	text-decoration:none;
	text-align:center;
  text-shadow:0px 1px 0px black;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
}

.click-buy .click-buy-button:active {
	position:relative;
  top:1px;
}

.click-buy .click-buy-button:focus {
  outline: thin dotted;
     outline: 0px auto -webkit-focus-ring-color;
     outline-offset: 0px;
 }

.click-buy .click-buy-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
  background-color:#ffab23;
}

.final-words {
  background: linear-gradient(100deg, rgba(113,55,55,1) 0%, rgb(194, 25, 25) 50%, rgba(113,55,55,1) 100%);
  color: white;
  font-size: x-large;
  padding: 2% 15%;
  text-align: left;
}

.final-words strong {
  font-weight: 900;
}

footer {
  padding: 2%;
  text-align: center;
}

.guarantees {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guarantees .guarantees-container {
  background-color: rgba(246,246,246,1);
}

.guarantees-container .click-buy {
  align-self: center;
  text-align: center;
}

.guarantees .guarantees-days {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.guarantees div {
  padding: 0 4%;
}

.guarantees .guarantees-days div {
  padding: 0 4%;
}

.green-call {
  color: rgb(36, 172, 36) !important;
  font-weight: 800;
}


.hero {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: left;
}

.hero p {
  text-indent: 1.5rem;
}

.impact-news {
  align-content: center;
  align-items: center;
  background-color: rgba(246,246,246,1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 4% 3%;
}

.impact-news aside {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: justify;
}

.impact-news h1 {
  color: black !important;
  font-weight: 900;
  margin: 0 !important;
  text-align: center;
}

.impact-news h2 {
  font-weight: 800;
}

.impact-news h2, p {
  margin: 3% 0;
}

.impact-news img {
  width: 100%;
}

.impact-news .news-content {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.important {
  align-self: flex-end;
  color: yellow;
  font-weight: 800;
}

.make-offer {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.make-offer .american-teacher {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 4%;
}

.make-offer .benefits-list {
  padding: 0 10%;
}

.make-offer .benefits-list img {
  width: 50%;
}

.make-offer .bonus {
  padding: 2% 4%;
}

.make-offer .ebooks img {
  max-width: 400px;
}

.make-offer h1, h2, h3, p, img {
  margin-bottom: 1% !important;
}

.make-offer li {
  list-style: inside url('./imgs/cupcake.png');
  margin: 0;
  padding: 0;
}

.make-offer .other-bonus {
  background: linear-gradient(100deg, rgba(113,55,55,1) 0%, rgb(194, 25, 25) 50%, rgba(113,55,55,1) 100%);
}

.make-offer .red-bkg h2, h3 {
  padding: 0 4%;
}

.make-offer ul {
  padding: 0 2%;
}

.make-offer p {
  text-align: justify;
}

.make-offer .is-02 {
  padding: 1% 4%;
}

.make-offer .title-div {
  padding: 10% 10% !important;
}

.make-offer .sub-benefits {
  padding: 0 5%;
  text-align: left;
}

.make-offer .sub-benefits img {
  max-width: 300px;
}

.make-offer .unprice {
  font-size: 500%;
  font-weight: 900;
  text-decoration: line-through;
}

ol {
  list-style: none inside;
}

p {
  text-indent: 1.5rem;
}

.red-bkg {
  background: linear-gradient(100deg, rgba(113,55,55,1) 0%, rgb(194, 25, 25) 50%, rgba(113,55,55,1) 100%);
  text-align: center;
}

.read {
  clear: both;
  font-size: x-large;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.red-call {
  color: red !important;
  font-weight: 800;
}

.scarcity {
  background-color: rgba(246,246,246,1);
  padding: 3% 4%;
  text-align: center;
}

.seven-days {
  background-position: top;
  background-size: cover;
  background: no-repeat url('./imgs/woman-smilling.jpeg');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}

.seven-days h1, h2, p {
  margin: 0.5% !important;
}

.seven-days section {
  align-content: center;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  padding: 2% 5%;
  text-shadow: #e6e0e0 1px 1px;
}

.show-benefits {
  display: flex;
  flex-flow: column;
  padding: 0 5%;
}

.show-benefits .fa-check {
  color: red;
  font-weight: 900;
}

.show-benefits h1 {
  color: black;
  margin-top: 3%;
  padding: 1% 5%;
}

.show-benefits ol {
  padding: 1% 4%;
}

.show-benefits p {
  text-align: left;
}

.social-prove {
  background-color: rgba(246,246,246,1);
  margin: auto;
  padding: 2% 4%;
}

.social-prove div {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: justify;
}

.social-prove img {
  max-width: 70%;
}

.social-prove h1, h2, h3, h4 {
  margin: 2% 0 !important;
}

.social-prove .title {
  text-align: center !important;
}

.statistics {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.statistics aside {
  align-items: center;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
}

.statistics img {
  border-radius: 40%;
  min-height: 180px;
  max-width: 200px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 3% 0;
}

.statistics p:nth-child(1) {
  margin-bottom: 5%;
}

.sucesses-case {
  background-repeat: no-repeat;
  background-size: 100% 900px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2%;
  padding-top: 13%;
}

.sucesses-case aside {
  background-color: rgb(252, 255, 51);
  margin: auto;
  padding: 0 8% 15px 8%;
}

.sucesses-case .case-01, .case-02 {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.sucesses-case .case-01 img {
  border-radius: 50%;
  bottom: 60px;
  height: 190px;
  max-width: 200px;
  position: relative;
  vertical-align: middle;
  
}

.sucesses-case .case-02 img {
  border-radius: 50%;
  bottom: 60px;
  margin-left: 10%;
  max-width: 200px;
  position: relative;
}

.sucesses-case div {
  position: relative;
  bottom: 55px;
}

.the-problem {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.25rem;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

.the-problem .img-content {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}

.the-problem .img-content img {
  border-radius: 50px;
}

.the-problem p:nth-of-type(2) {
  margin-bottom: 20px;
  margin-top: 20px;
}

.the-problem .text-botton {
  padding: 0 4%;
}

.the-problem .text-content {
  margin: auto;
  margin-bottom: 20px;
  padding: 0 5%;
}

.the-solution {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

.the-solution p {
  text-align: center;
}

.the-solution p:nth-of-type(1) {
  font-size: x-large;
}

.top-bar {
  background: linear-gradient(100deg, rgba(113,55,55,1) 0%, rgb(194, 25, 25) 50%, rgba(113,55,55,1) 100%);
  color: white;
  font-size: large;
  padding: 2% 4%;
  text-align: center;
}

.top-bar .bolder {
  font-weight: 900;
}

.top-bar .center-content {
  width: 90%;
}

.top-bar .title {
  color: white;
  line-height: 1.4;
}

.yellow-call {
  color: yellow !important;
}

.white-call {
  color: white !important;
}

 /* View port break point */
@media screen and (min-width: 769px) {
  .busines-woman h1 {
    font-size: 1000%;
  }

  .guarantees .guarantees-days {
    flex-flow: row-reverse;
  }

  .guarantees .guarantees-days img {
    max-width: 40%;
  }

  .guarantees .guara {
    padding: 0 15%;
  }

  .img-content {
    float: right;
    margin: auto;
    margin-right: 5%;
    width: 36%;
  }

  .impact-news  aside {
    margin-top: 3%;
    padding: 0 15%;
  }

  .impact-news h2, h3, img, p {
    margin: 0;
  }

  .impact-news h3 {
    font-weight: 600;
  }

  .impact-news img {
    align-self: flex-start;
    order: 0;
    width: 35%;
  }

  .impact-news .news-content {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
  }

  .make-offer .american-teacher {
    align-items: center;
    display: flex;
    flex-flow: row;
    padding: 0 10%;
  }

  .make-offer .american-teacher img {
    border-radius: 20px;
    margin-right: 2%;
  }

  .make-offer .american-teacher p {
    font-size: larger;
  }

  .make-offer .benefits-list img {
    width: 70%;
  }

  .make-offer .bonus-book {
    padding: 5% 0;
  }

  .make-offer .bonus-box {
    display: flex;
    padding: 5% 10%;
  }

  .make-offer .bonus-box img {
    margin-right: 30px;
  }

  .make-offer .red-bkg {
    padding: 5% 10%;
  }

  .make-offer .green-call {
    font-weight: 1000 !important;
  }

  .make-offer .digital-book {
    padding: 2% 12%;
  }

  .make-offer .digital-book img{
    max-width: 900px;
  }

  .make-offer .is-01 {
    padding: 2% 3%;
  }

  .make-offer .other-bonus {
    padding: 5% 13%;
  }

  .make-offer .other-bonus .title {
    line-height: 2 !important;
  }

  .make-offer .sub-benefits {
    align-items: center;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    padding: 0 10%;
  }

  .make-offer .sub-benefits li {
    margin: 3% 0;
    font-size: large;
    font-weight: 800;
    width: 75%;
  }

  .news-content div {
    margin-right: 3%;
  }

  .news-content .news-text-content {
    text-align: justify;
    width: 80%;
  }

  .scarcity {
    padding: 3% 14%;
    text-align: left;
  }

  .show-benefits ol {
    padding: 1% 0;
    line-height: 2rem;
  }

  .show-benefits section {
    padding: 0 12%;
  }

  .social-prove div {
    flex-flow: row-reverse;
  }

  .social-prove div img {
    margin-left: 2%;
    width: 30%;
  }

  .social-prove {
    padding: 0 12%;
  }

  .statistics {
    flex-flow: row;
  }

  .statistics aside {
    align-content: center;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: center;
    padding: 0 2% 2% 2%;
    width: 90%;
  }

  .statistics p {
    width: 60%;
    text-align: justify;
  }

  .statistics .simple-cakes {
    justify-content: space-around;
  }

  .statistics .wedding-cakes {
    justify-content: space-around;
  }

  .sucesses-case {
    background-image: url(./imgs/red-velvet-cake.jpeg);
    flex-flow: row;
  }

  .sucesses-case aside {
    background: rgb(255,255,255);
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
    padding: 0 12px 15px 12px;
    width: 70%;
  }

  .sucesses-case .case-01 {
    height: 80%;
    margin: 0 5% 3% 3%;
    width: 50%;
  }

  .sucesses-case .case-01 img {
    max-height: 190px;
    max-width: 200px;
  }

  .sucesses-case .case-02 {
    margin: 0 3% 3% 0;
    width: 50%;
  }

  .text-content {
    float: left;
    margin: 2% 0 2% 5%;
    width: 50%;
  }

  .the-problem {
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 100%;
  }

  .the-problem .img-content {
    display: block;
    float: right;
    margin: 2% 10% 2% 0;
    max-width: 30%;
  }

  .the-problem .text-botton {
    clear: both;
    padding: 0 4%;
  }
  
  .the-problem .text-content {
    display: block;
    float: left;
    margin: 4% 0 5% 8%;
    width: 45%;
  }

  .top-bar {
    margin: 0;
    padding: 0;
  }

  .top-bar > div {
    padding: 5% 10%;
  }

}